{% extends 'home.html' %}

{% block content %}
	{% for object in object_list %}
		{% if object.prof == request.user %}
			<h3> <b> {{object.enunciation}} </b> </h3> 
			<p> {{object.alternative1}} </p>
			<p> {{object.alternative2}} </p>
			<p> {{object.alternative3}} </p>
			<p> {{object.alternative4}} </p>
			<p> {{object.alternative5}} </p>
			<p> <b> {{object.answer}} </b> </p>
			<p> <a href="{% url 'bancodequestoes:questaoedit' object.pk %}"> Editar Questão </a> <p/>
			<p> <a href="{% url 'bancodequestoes:questaodelete' object.pk%}"> Excluir Questão </a> </p>
		{% endif %}
	{% endfor %}
{% endblock %}